# R Workspace data #
###################
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_Store
.Rapp.history
temp/*
~*

# ignore a folder
# folder_to_ignore/
# large shapefiles are now managed with Github LFS

# --- Python & UV ---
# The virtual environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# --- Tools & Caches ---
# Ruff cache
.ruff_cache/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# --- Jupyter Notebooks ---
# Checkpoints created by Jupyter
.ipynb_checkpoints/

# --- Data Science Outputs ---
# Ignore large report files from Sweetviz/Pandas Profiling
# *.html
*.pdf

# Ignore actual data files for now
*.csv
*.xlsx
*.json
*.parquet
*.pkl
*.pickle
*zip

# --- OS Junk ---
.DS_Store
Thumbs.db
*:Zone.Identifier

# --- VS Code ---
# Keep settings.json and extensions.json,
# but ignore local user workspace storage.
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.github/
.codeboarding/
*.log

/comp_vision
/output
