# R Workspace data #
###################
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_Store
.Rapp.history
temp/*
~*

# ignore a folder
# folder_to_ignore/
# large shapefiles are now managed with Github LFS

# --- Standalone app data cache ---
/files/

# --- Python & UV ---
# The virtual environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# --- Tools & Caches ---
# Ruff cache
.ruff_cache/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# --- Jupyter Notebooks ---
# Checkpoints created by Jupyter
.ipynb_checkpoints/

# --- Data Science Outputs ---
# Ignore large report files from Sweetviz/Pandas Profiling
# *.html
*.pdf

# Ignore actual data files for now
*.csv
*.xlsx
*.json
!package.json
!package-lock.json
!src/**/package.json
!src/**/package-lock.json
!src/**/tsconfig*.json
*.parquet
*.pkl
*.pickle
*zip

# --- OS Junk ---
.DS_Store
Thumbs.db
*:Zone.Identifier

# --- VS Code ---
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.github/
*.log


.tmp/